.detailFirst{
  display: flex;
  padding-bottom: 160px;
  .leftPart{
    width: 21%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    >section {
      width: 100%;
    }
    .allNum{
      padding: 15px 20px;
      background-color: white;
    }
    .treeForCoup{
      margin: 10px 0;
      background-color: white;
      padding: 15px 0 15px 20px ;
      >div:first-child{
        font-size: 20px;
        border-bottom: 1px solid grey;
        padding-bottom: 15px;
      }
      >div:nth-child(2){
        margin: 10px 0;
      }
    }
    .top20{
      background-color: white;
      margin: 10px 0;
      padding: 15px 20px;
      >div:first-child{
        font-size: 20px;
        padding-bottom: 15px;
        color: black;
      }
      div{
        margin: 7px 0;
        font-size: 14px;
        cursor: pointer;
        color: grey;
      }
    }
  }
  .rightPart{
    width: 77%;
    display: flex;
    flex-direction: column;
    .rightTools{
      >div{
        padding: 8px 15px;
        display: inline-block;
        margin: 0 10px;
        background-color: white;
        border-radius: 3px;
        font-size: 14px;
        cursor: pointer;
      }
      .buttonActive{
        background-color: rgb(55,111,24);
        color: white;
      }
    }
  }
}

