.detailFirst {
  display: flex;
  // margin-top: 20px;
  padding: 25px 10%;
  padding-bottom: 160px;
  .leftPart {
    width: 21%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    > section {
      width: 100%;
    }
    .allNum {
      padding: 15px 20px;
      background-color: white;
    }
    .treeForCoup {
      margin: 10px 0;
      background-color: white;
      padding: 15px 0 15px 20px;
      > div:first-child {
        font-size: 20px;
        border-bottom: 1px solid grey;
        padding-bottom: 15px;
      }
      > div:nth-child(2) {
        margin: 10px 0;
      }
    }
    .top20 {
      background-color: white;
      margin: 10px 0;
      padding: 15px 20px;
      > div:first-child {
        font-size: 20px;
        padding-bottom: 15px;
        color: black;
      }
      div {
        margin: 7px 0;
        font-size: 14px;
        cursor: pointer;
        color: grey;
      }
    }
  }
  .rightPart {
    width: 77%;
    display: flex;
    flex-direction: column;
    .rightTools {
      > div {
        padding: 8px 15px;
        display: inline-block;
        margin: 0 10px;
        background-color: white;
        border-radius: 3px;
        font-size: 14px;
        cursor: pointer;
      }
      .buttonActive {
        background-color: rgb(55, 111, 24);
        color: white;
      }
    }
  }
}

.detail-store {
  display: flex;
  flex-wrap: wrap;
  .item {
    position: relative;
    flex: 0 0 49%;
    margin: 5px 0;
    overflow: hidden;
    transition: all 0.3s;
    cursor: pointer;
    border: 1px solid #ededed;
    &:nth-child(2n) {
      margin-left: 2% !important;
    }
    &:hover {
      box-shadow: 0px 0px 15px 2px #cacaca;
    }
    .pic {
      width: 100%;
      padding-top: 100%;
    }
    img {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 90%;
      transform: translate(-50%, -50%);
    }
  }
}

.couponDetailList {
  display: block;
  .item {
    display: flex !important;
    width: 100%;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 0px 15px 2px #cacaca;
    }
    .item-pic {
      overflow: hidden;
      width: 150px;
      box-sizing: border-box;
      text-align: center;
      margin-right: 10px;
      border-right: 1px solid #ededed;
    }
    .item-info {
      flex: 1;
    }
    .item-text {
      font-size: 24px;
      line-height: 28px;
      display: block;
      margin: 0 auto;
      margin-bottom: 5px;
      font-weight: 500;
      color: #ff3612;
    }
    .item-type {
      font-size: 14px;
      display: inline-block;
      padding: 2px 8px;
      height: auto;
      text-align: center;
      color: #fff;
      border-radius: 2px;
      &.type1 {
        background-color: #555dfe;
      }
      &.type2 {
        background-color: #54c7fe;
      }
    }
    .item-info-text {
      font-size: 20px;
      margin-bottom: 10px;
      letter-spacing: 0;
      color: #1f1f1f;
    }
    .item-btn {
      width: 140px;
      height: 38px;
      line-height: 38px;
      text-align: center;
      color: #fff;
      cursor: pointer;
      background-image: linear-gradient(-95deg, #2c9b33 1%, #25bb5f 100%);
      border-radius: 2px;
      outline: none;
    }
  }
}

.detail-info {
  display: flex;
  align-items: center;
  .pic {
    img {
      display: block;
      width: 150px;
      box-sizing: border-box;
    }
  }
  .info-des {
    text-align: left;
    margin-left: 30px;
    p {
      margin: 0 0 10px;
    }
    .info-des-title {
      font-size: 26px;
      font-weight: normal;
    }
    .info-des-des {
      font-size: 14px;
    }
    .visit-btn {
      border: 1px solid #d8d8d8;
      border-radius: 2px;
      width: 150px;
      height: 36px;
      font-size: 14px;
      text-align: center;
      line-height: 36px;
      display: block;
      color: #fff;
      text-decoration: none;
      background: rgba(255, 255, 255, 0.05);
    }
  }
}
