
.el-tag{
  margin: 15px 12px;
  cursor: pointer;
}
.button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: middle;
}
.spiderCategory{
  display: flex;
  >section{
    width: 50%;
    box-sizing: border-box;
    padding-left: 20px;
  }
  .tagList{
    margin-top: 20px;
    max-height: 70vh;
    overflow-y: scroll;
  }
  .el-input{
    width: 20%;
    margin-right: 20px;
  }
}
